{% extends "base.html" %}
{% block content %}
<section class="vh-100 bg-image" 
style="background-image: url('/static/bg5.jpg');
        background-repeat: no-repeat;
        height: 100%; 
        background-position: center;
        background-size: cover;">
    <div class="container py-5 h-100">
      <div class="d-flex justify-content-center mt-4">
        <img src="{{url_for('static', filename='dog.jpg')}}" width="594" 
        height="449" alt="Picture of Dog" style="border: 8px solid rgb(0, 0, 0);">
        
      </div>
      <div class="d-flex justify-content-center mt-4">
        <form action="{{url_for('house')}}" method="get">
            <input class="btn btn-info btn-lg" type="submit" value="PUT PICTURE BACK">
        </form>
      </div>
    </div>
  </section>
  {% endblock %}