{% extends "base.html" %}



{% block content %}
<section class="vh-100 bg-image" 
style="background-image: url('/static/bg1.jpg');
        background-repeat: no-repeat;
        height: 100%; 
        background-position: center;
        background-size: cover;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card text-white" style="border-radius: 1rem; background-color: rgb(0,0,0);
          background-color: rgba(0,0,0, 0.9);">
            <div class="card-body p-5 text-center">

                <div>
                    <form method="POST" action="">
                        {{ form.hidden_tag() }}
                        <fieldset class="form-group">
                            <legend>Sign Up</legend>
                            <div class="form-group">
                                <!-- {{ form.username.label(class="form-control-label") }} -->
                                {% if form.username.errors %}
                                    {{ form.username(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.username.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.username(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                            <div class="form-group mt-3 col-md-12">
                                <!-- {{ form.email.label(class="form-control-label") }} -->
                                {% if form.email.errors %}
                                    {{ form.email(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.email.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.email(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                            <div class="form-group mt-3 col-md-12">
                                <!-- {{ form.password.label(class="form-control-label") }} -->
                                {% if form.password.errors %}
                                    {{ form.password(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.password.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.password(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                            <div class="form-group mt-3 col-md-12">
                                <!-- {{ form.confirm_password.label(class="form-control-label") }} -->
                                {% if form.confirm_password.errors %}
                                    {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.confirm_password.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.confirm_password(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                        </fieldset>
                        <div class="form-group mt-3 mb-3 col-md-12">
                            {{ form.submit(class="btn btn-outline-primary btn-lg") }}
                        </div>
                    </form>
                </div>
                <div class="border-top pt-3">
                    <small>
                        Already have an account? <a class="ml-2" href="{{ url_for('login') }}">Sign In</a>
                    </small>
                </div>
                
                </div>
            </div>
          </div>
        </div>
      </div>
  </section>
    


{% endblock %}